Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

Change the installation task on CI
  .github/workflows/validate.yml
Due: none

Removed log
  packages/pure/src/device/device.ts
Due: prettier --write, npm run lint --fix

fix missing imports
  packages/app/src/calendar/helpers/parse-ics/parse-ics.ts
Due: prettier --write, npm run lint --fix

Update storybook to support React 17
  packages/app/package-lock.json
  packages/app/package.json
Due: prettier --write

Remove temporary configuration for Storybook
  packages/app/.storybook/main.js
  packages/app/src/renderer/components/core/avatar/avatar.stories-x.tsx
Due: prettier --write, npm run lint --fix

Make the verify action's node version explicit
  .github/workflows/validate.yml
Due: none

Updated script for downloading fonts
  scripts/downloadFonts.js
Due: prettier --write

Updated .env.example
  .env.example
Due: none

Explicitly use the bootstrap command and remove the main postinstall hook
  .github/workflows/validate.yml
  package.json
  packages/app/package-lock.json
  packages/design-system/package-lock.json
Due: prettier --write

Experiment with no private repo
  packages/design-system/.npmrc
Due: none

Added reamde for fonts
  scripts/downloadFonts.js
  src/renderer/fonts/README.md
Due: prettier --write

Update the dev server
  packages/app/package-lock.json
  packages/app/package.json
Due: prettier --write

Make lerna to run in no CI env in actions
  .github/workflows/validate.yml
Due: none

Fix lint-staged in monorepo
  .eslintrc
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierignore
  package-lock.json
  package.json
  packages/app/.eslintrc
  packages/app/.storybook/storiesToText.js
  packages/app/package.json
  packages/app/tsconfig.json
  packages/app/webpack/parts/devServer.js
  packages/app/webpack/parts/devtool.js
  packages/app/webpack/parts/entry.js
  packages/app/webpack/parts/optimization.js
  packages/app/webpack/parts/rules.js
  packages/app/webpack/parts/target.js
  packages/design-system/README.md
  packages/design-system/index.ts
  packages/design-system/package-lock.json
  packages/design-system/tsconfig.json
  packages/pure/scripts/establish-connection.ts
  packages/pure/scripts/index.ts
  packages/pure/scripts/single-request.ts
  packages/pure/src/device/base-device.ts
  packages/pure/src/formatter/formatter-factory.ts
  packages/pure/tsconfig.json
  tsconfig.json
Due: prettier --write, npm run lint --fix

Change the bootstrap commands
  .github/workflows/validate.yml
Due: none

Add bootstrap scripts
  .github/workflows/validate.yml
  package.json
Due: prettier --write

Reneame the pure dependency
  package.json
  packages/app/package-lock.json
  packages/app/package.json
  packages/app/src/backend/adapters/phonebook/phonebook.adapter.ts
  packages/app/src/backend/adapters/pure-phone-battery-service/pure-phone-battery-service.adapter.ts
  packages/app/src/backend/adapters/pure-phone-network/pure-phone-network.adapter.ts
  packages/app/src/backend/adapters/pure-phone-storage/pure-phone-storage.adapter.ts
  packages/app/src/backend/adapters/pure-phone/pure-phone.adapter.ts
  packages/app/src/backend/bootstrap.ts
  packages/app/src/backend/device-service.ts
  packages/app/src/backend/mock-device-service.ts
  packages/app/src/backend/requests/battery/get-battery-info-request.test.ts
  packages/app/src/backend/requests/device-info/get-device-info-request.test.ts
  packages/app/src/backend/requests/network/get-network-info-request.test.ts
  packages/app/src/backend/requests/phonebook/delete-contacts.test.ts
  packages/app/src/backend/requests/phonebook/phonebook-adapters.ts
  packages/app/src/backend/requests/storage/get-storage-info-request.test.ts
  packages/app/src/main/main.ts
  packages/pure/package-lock.json
  packages/pure/package.json
Due: prettier --write, npm run lint --fix

Bring back the any version of pure
  packages/app/package.json
Due: prettier --write

Split the install task
  .github/workflows/validate.yml
  package.json
Due: prettier --write

Update release.yml
  .github/workflows/release.yml
Due: none

Make the pure version explicit
  packages/app/package.json
Due: prettier --write

Fix Enable / Disabled status in dev mode
  packages/app/src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint --fix

Fix UpdatingFailureWithHelpModal modal
  packages/app/src/renderer/components/core/modal/modal.component.tsx
  packages/app/src/renderer/modules/overview/overview.modals.tsx
Due: prettier --write, npm run lint --fix

Prettier changes
  packages/app/src/backend/adapters/device-response.interface.ts
  packages/app/src/backend/timeout.ts
  packages/app/src/renderer/modules/overview/overview.stories.tsx
Due: prettier --write, npm run lint --fix

Remove the local flag
  package.json
Due: prettier --write

Add different task to build on github and netlify
  package.json
Due: prettier --write

Use any version of pure
  packages/app/package.json
Due: prettier --write

Bring back npmrc
  packages/design-system/.npmrc
Due: none

Bring back the proper dev server version
  packages/app/package-lock.json
  packages/app/package.json
Due: prettier --write

Add a setup script
  package.json
Due: prettier --write

Add info about the setup task in the quickstart guide
  quickstart.md
Due: prettier --write

Add scripts manual (or at least the initial version)
  README.md
  SCRIPTS.md
Due: prettier --write

Update package-lock for app
  packages/app/package-lock.json
Due: prettier --write

Revert Pure in package-lock (poc)
  packages/app/package-lock.json
Due: prettier --write

Revert "Revert Pure in package-lock (poc)"
  packages/app/package-lock.json
Due: prettier --write

Revert "Update package-lock for app"
  packages/app/package-lock.json
Due: prettier --write

Fixed connection issues on windows
  package-lock.json
  package.json
  packages/app/package.json
  packages/pure/src/device-manager.ts
  packages/pure/src/mock-serial-port.ts
Due: prettier --write, npm run lint --fix

[PDA-680] hide icons
  packages/app/src/renderer/components/rest/messages/message-details.component.tsx
  packages/app/src/renderer/components/rest/messages/message-details.test.tsx
Due: prettier --write, npm run lint --fix

[PDA-680] hide new message input
  packages/app/src/renderer/components/rest/messages/message-details.component.tsx
Due: prettier --write, npm run lint --fix
