Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

Improved modal flow
  src/main/functions/register-pure-os-update-listener.ts
  src/renderer/modules/overview/overview.modals.tsx
  src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint --fix

PDA-658 Start contentful client
  src/api/contentful/client.ts
  src/api/contentful/contentful-resource.enum.ts
  src/api/contentful/create-client.ts
  src/api/contentful/index.ts
  src/main/functions/download-help-handler.ts
  src/main/functions/register-news-listener.ts
  src/renderer/locales/default/en-US.json
  tsconfig.json
Due: prettier --write, npm run lint --fix

Test fix
  __mocks__/electron.js
  __mocks__/fs-mock.js
  jest.config.js
  src/backend/requests/update-os/update-os.request.test.ts
Due: prettier --write, npm run lint --fix

PDA-637 Update ts-jest
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update usb
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update electron-store
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update react-test-renderer
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update plugins
  package-lock.json
  package.json
Due: prettier --write

Revert "PDA-637 Update usb"
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Go back to v12 cause of node-gyp
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .nvmrc
Due: none

PDA-637 Update package.json
  package.json
Due: prettier --write

PDA-637 Try node 14 again
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .nvmrc
  package.json
Due: prettier --write

PDA-637 Try to install build tools
  .github/workflows/release.yml
Due: none

Revert "PDA-637 Try to install build tools"
  .github/workflows/release.yml
Due: none

Revert "PDA-637 Try node 14 again"
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .nvmrc
  package.json
Due: prettier --write

Revert "Revert "PDA-637 Try node 14 again""
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .nvmrc
  package.json
Due: prettier --write

PDA-637 Try to install packages for ubuntu
  .github/workflows/validate.yml
Due: none

PDA-637 Add sudo
  .github/workflows/validate.yml
Due: none

Revert "PDA-637 Add sudo"
  .github/workflows/validate.yml
Due: none

Revert "PDA-637 Try to install packages for ubuntu"
  .github/workflows/validate.yml
Due: none

Revert "Revert "Revert "PDA-637 Try node 14 again"""
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .nvmrc
  package.json
Due: prettier --write

Test fix
  __mocks__/electron.js
  __mocks__/fs-mock.js
  jest.config.js
  src/backend/requests/update-os/update-os.request.ts
  src/renderer/requests/update-os.request.ts
Due: prettier --write, npm run lint --fix

PDA-637 Missing e2e skip
  src/tests/templates.e2e.ts
Due: prettier --write, npm run lint --fix

added another release action
  .github/workflows/release2.yml
  package-lock.json
Due: prettier --write

Create release2.yml
  .github/workflows/release2.yml
Due: none

Update release2.yml
  .github/workflows/release2.yml
Due: none

Update package.json
  package.json
Due: prettier --write

Update release.yml
  .github/workflows/release.yml
Due: none

4.0.16
  package-lock.json
  package.json
Due: prettier --write

4.0.17
  package-lock.json
  package.json
Due: prettier --write

4.1.0
  package-lock.json
  package.json
Due: prettier --write

Delete release2.yml
  .github/workflows/release2.yml
Due: none

4.2.0
  package-lock.json
  package.json
Due: prettier --write

4.3.0
  package-lock.json
  package.json
Due: prettier --write

Refactored `file` to `filePath`
  pure/src/device/base-device.ts
  pure/src/device/device.types.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/device-service.ts
Due: prettier --write, npm run lint --fix

Fixed `updateOs` return type
  src/backend/adapters/pure-phone/pure-phone-adapter.class.ts
  src/backend/requests/update-os/update-os.request.ts
Due: prettier --write, npm run lint --fix

Fixed using app settings inside listeners
  src/backend/adapters/pure-phone-backups/pure-phone-backups.adapter.ts
  src/backend/requests/update-os/update-os.request.test.ts
  src/backend/requests/update-os/update-os.request.ts
  src/main/functions/get-app-settings.ts
  src/main/functions/register-os-update-already-downloaded-checker.ts
  src/main/functions/register-pure-os-download-listener.ts
  src/renderer/requests/update-os.request.ts
Due: prettier --write, npm run lint --fix

Extended github releases listing flow to support multiple pages and personal access token
  src/main/functions/register-pure-os-update-listener.ts
Due: prettier --write, npm run lint --fix
