Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

Removed unneeded delay
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/utils/hooks/use-dynamic-progress-value.hook.tsx
Due: prettier --write, npm run lint --fix

Removed unneeded delay (fix test)
  src/renderer/utils/hooks/use-dynamic-progress-value.hook.test.tsx
Due: prettier --write, npm run lint --fix

PDA-641 Install rrule. Add event logic
  package.json
  src/calendar/helpers/parse-ics/calendar-2.ics
  src/calendar/helpers/parse-ics/calendar-with-recurring-event.ics
  src/calendar/helpers/parse-ics/parse-ics.ts
  src/renderer/locales/default/en-US.json
Due: prettier --write, npm run lint --fix

PDA-641 Filter out events with no dates. Use unnamed translation for empty events
  src/calendar/helpers/parse-ics/parse-ics.ts
  src/renderer/components/rest/calendar/events-list.component.tsx
Due: prettier --write, npm run lint --fix

PDA-641 Rename var
  src/calendar/helpers/parse-ics/parse-ics.test.ts
Due: prettier --write, npm run lint --fix

Fix unit test description
  src/renderer/utils/hooks/use-dynamic-progress-value.hook.test.tsx
Due: prettier --write, npm run lint --fix

PDA-641 Add index so there is no same keys for recurring events
  src/renderer/components/rest/calendar/events-list.component.tsx
Due: prettier --write, npm run lint --fix

Apply suggestions from code review
  quickstart.md
Due: prettier --write

Update quickstart.md
  quickstart.md
Due: prettier --write

fixed contact-form tests
  src/tests/contact-form.e2e.ts
Due: prettier --write, npm run lint --fix

Fixed & improved context menu registering
  src/contacts/helpers/context-menu/context-menu.ts
  src/context-menu/context-menu.interface.ts
  src/context-menu/context-menu.ts
  src/renderer/register-app-context-menu.ts
  src/renderer/wrappers/app-context-menu.ts
  src/renderer/wrappers/base-app.component.tsx
Due: prettier --write, npm run lint --fix

vcf parsing script update
  src/contacts/helpers/parse-vcf/parse-vcf.ts
Due: prettier --write, npm run lint --fix

table select hook improvement
  src/renderer/utils/hooks/useTableSelect.ts
Due: prettier --write, npm run lint --fix

Updated and improved contacts synchronization flow
  src/contacts/components/contact-import/contact-import-modal-test-ids.enum.ts
  src/contacts/components/contact-import/contact-import-modal.component.tsx
  src/contacts/components/contact-import/contact-import-modal.test.tsx
  src/contacts/components/contact-import/contact-import.stories.tsx
  src/contacts/components/error-modal/error-modal.component.tsx
  src/contacts/components/error-modal/error-modal.interface.ts
  src/contacts/components/error-modal/error-modal.test.tsx
  src/contacts/components/importing-contacts-modal/importing-contacts-modal.component.test.tsx
  src/contacts/components/importing-contacts-modal/importing-contacts-modal.component.tsx
  src/contacts/components/sync-contacts-modal/sync-contacts-modal-test-ids.enum.ts
  src/contacts/components/sync-contacts-modal/sync-contacts-modal.component.tsx
  src/contacts/components/sync-contacts-modal/sync-contacts-modal.stories.tsx
  src/contacts/components/sync-contacts-modal/sync-contacts-modal.test.tsx
  src/contacts/components/sync-contacts-modal/sync-contacts.styled.tsx
  src/contacts/contacts-ui.component.tsx
  src/contacts/contacts.interface.ts
  src/contacts/contacts.stories.tsx
  src/contacts/contacts.type.ts
  src/contacts/store/contacts.ts
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/calendar/authorization-failed.component.tsx
  src/renderer/components/rest/calendar/select-calendars-modal.component.tsx
  src/renderer/components/rest/calendar/select-vendor-modal.component.tsx
  src/renderer/components/rest/calendar/synchronizing-events-modal.component.tsx
  src/renderer/components/rest/sync-modals/import-contacts-modal.component.test.tsx
  src/renderer/components/rest/sync-modals/import-contacts-modal.component.tsx
  src/renderer/components/rest/sync-modals/import-contacts-modal.types.ts
  src/renderer/components/rest/sync-modals/importing-contacts-modal.component.test.tsx
  src/renderer/components/rest/sync-modals/sync-contacts-modal.stories.tsx
  src/renderer/components/rest/sync-modals/synchronizing-contacts-modal.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/overview/overview.modals.tsx
  src/renderer/svg/fail-red.svg
  src/tests/contacts.e2e.ts
Due: prettier --write, npm run lint --fix

Update src/contacts/store/contacts.ts
  src/contacts/store/contacts.ts
Due: prettier --write, npm run lint --fix

Fixed switching labels for dev mode's parsing settings
  src/contacts/contacts-ui.component.tsx
Due: prettier --write, npm run lint --fix

merge fix
  src/renderer/components/rest/calendar/select-vendor-modal.component.tsx
Due: prettier --write, npm run lint --fix

Saving failed modal update
  src/contacts/components/contact-import/contact-import-modal.component.tsx
  src/contacts/components/contact-import/contact-import-modal.test.tsx
  src/contacts/components/contact-import/contact-import.stories.tsx
  src/contacts/contacts-ui.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/utils/hooks/useTableSelect.ts
Due: prettier --write, npm run lint --fix

PDA-656 Add modal with translations
  src/calendar/components/import-events-modal/import-events-modal.component.tsx
  src/renderer/components/rest/calendar/select-vendor-modal.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint --fix

added test ids
  src/contacts/components/contact-edit/contact-edit-test-ids.enum.ts
  src/contacts/components/contact-edit/contact-edit.component.tsx
  src/contacts/components/contact-panel/contact-panel-test-ids.enum.ts
  src/contacts/components/contact-panel/contact-panel.component.tsx
  src/tests/contacts.e2e.ts
Due: prettier --write, npm run lint --fix

PDA-656 Add tests
  src/calendar/components/import-events-modal/import-events-modal-test-ids.enum.ts
  src/calendar/components/import-events-modal/import-events-modal.component.tsx
  src/calendar/components/import-events-modal/import-events-modal.test.tsx
Due: prettier --write, npm run lint --fix

PDA-656 Add modal in story
  src/renderer/components/rest/calendar/calendar.stories.tsx
Due: prettier --write, npm run lint --fix

PDA-656 Remove unnecessary import
  src/renderer/components/rest/calendar/calendar.stories.tsx
Due: prettier --write, npm run lint --fix

Update menu test snapshot (fix build)
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
Due: none

Added info re Dev mode and Wiki
  CONTRIBUTING.md
  development_workflow.md
Due: prettier --write

Move (all) the caller "pretty name" creation logic to utils
  src/contacts/store/contacts.helpers.ts
  src/renderer/components/rest/calls/call-details.component.tsx
  src/renderer/components/rest/calls/call-row.component.tsx
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint --fix

PDA-641 Pass correct options key
  src/calendar/helpers/parse-ics/parse-ics.ts
Due: prettier --write, npm run lint --fix

PDA-656 Fix import after merge
  src/calendar/components/import-events-modal/import-events-modal.component.tsx
Due: prettier --write, npm run lint --fix

PDA-656 Correct style for text
  src/calendar/components/import-events-modal/import-events-modal.component.tsx
Due: prettier --write, npm run lint --fix

Updated readme (after the formatter implementation)
  pure/README.md
Due: prettier --write

Fixed links
  CONTRIBUTING.md
  development_workflow.md
Due: prettier --write

Trying to access getPath - succesS
  src/tests/overview.e2e.ts
Due: prettier --write, npm run lint --fix

PDA-643 Hide parts of menu
  src/renderer/constants/menu-elements.ts
Due: prettier --write, npm run lint --fix

PDA-643 Skip all the tests after changes to menu
  src/tests/contact-form.e2e.ts
  src/tests/files-manager.e2e.ts
  src/tests/meditation.e2e.ts
  src/tests/notes.e2e.ts
  src/tests/phone.e2e.ts
Due: prettier --write, npm run lint --fix

PDA-643 Hide menu icons
  src/renderer/components/rest/menu/menu-group.styled.tsx
Due: prettier --write, npm run lint --fix

Create release.yml
  .github/workflows/release.yml
Due: none

Package json build options update
  package.json
Due: prettier --write

Update release.yml
  .github/workflows/release.yml
Due: none

PDA-644 Create external file for styled components. Add description text
  src/renderer/components/rest/overview/phone/phone.component.tsx
  src/renderer/components/rest/overview/phone/phone.styled.tsx
  src/renderer/locales/default/en-US.json
Due: prettier --write, npm run lint --fix
