Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

remove !!
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint --fix

update test
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/message-details.test.tsx
Due: prettier --write, npm run lint --fix

Rename shared to design-system
  .gitignore
  package.json
  packages/design-system/.eslintrc
  packages/design-system/.npmrc
  packages/design-system/README.md
  packages/design-system/build.sh
  packages/design-system/index.ts
  packages/design-system/package-lock.json
  packages/design-system/package.json
  packages/design-system/tsconfig.json
  packages/shared/README.md
Due: prettier --write, npm run lint --fix

PDA-694 WIP backend for exporting eevents
  src/calendar/backend/export-events.ts
  src/calendar/helpers/export-events/export-events.ts
  src/common/requests/ipc-request.enum.ts
  src/main/main.ts
  src/renderer/components/rest/calendar/calendar-panel.component.tsx
Due: prettier --write, npm run lint --fix

PDA-658 Remove buildspec.yml and event-sns.json
  lambda-functions/cms/buildspec.yml
  lambda-functions/cms/events/event-sns.json
Due: prettier --write

Added app:test:e2e command
  package.json
Due: prettier --write

Changed release command to prepublish in mudita-center-design-system
  packages/design-system/package.json
Due: prettier --write

PDA-658 Add script / update readme
  lambda-functions/cms/.gitignore
  lambda-functions/cms/README.md
  lambda-functions/cms/bin/deploy.sh
Due: prettier --write

Reverted bad resolve conflicts in app package
  packages/app/package-lock.json
  packages/app/package.json
Due: prettier --write

add missing license
  src/main/functions/get-app-settings.ts
Due: prettier --write, npm run lint --fix

PDA-658 Env example
  lambda-functions/cms/.gitignore
  lambda-functions/cms/bin/.envexample
Due: none

Updated & Added new modal
  packages/app/src/renderer/components/rest/data-modal/data.modals.tsx
  packages/app/src/renderer/locales/default/en-US.json
  packages/app/src/renderer/modules/overview/overview.modals.tsx
  packages/app/src/renderer/modules/overview/overview.stories.tsx
Due: prettier --write, npm run lint --fix

Extended Response by ErrorResponse
  packages/app/src/backend/adapters/device-response.interface.ts
  packages/app/src/backend/adapters/pure-phone/pure-phone.adapter.ts
  packages/app/src/backend/device-service.ts
  packages/pure/src/device/base-device.ts
  packages/pure/src/device/device.ts
  packages/pure/src/device/device.types.ts
  packages/pure/src/endpoints/device-update.types.ts
  packages/pure/src/endpoints/index.ts
  packages/pure/src/formatter/pure-v1.formatter.ts
Due: prettier --write, npm run lint --fix

PDA-658 Return error 405
  packages/lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

Handle displaying error
  packages/app/src/main/main.ts
  packages/app/src/renderer/modules/help/help.component.tsx
  packages/app/src/renderer/modules/overview/system-update.hook.tsx
  packages/app/src/renderer/utils/contact-support/contact-support.tsx
Due: prettier --write, npm run lint --fix

Refactored request method
  packages/pure/src/device/base-device.ts
  packages/pure/src/device/device-helper.ts
  packages/pure/src/device/device.ts
  packages/pure/src/device/device.types.ts
Due: prettier --write, npm run lint --fix

Refactored sort
  packages/app/src/renderer/modules/help/help.component.tsx
Due: prettier --write, npm run lint --fix

PDA-658 Add ifs for checking client
  packages/lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

PDA-658 Update package.json
  packages/lambda-functions/cms/package.json
Due: prettier --write

eslint-license-header + monorepo
  .eslintrc
  package-lock.json
  package.json
  packages/app/package.json
  resources/license-header.js
Due: prettier --write

Added fallback when no gt-pressura font is available
  .gitignore
  package.json
  src/renderer/app.tsx
  src/renderer/fonts/RobotoCondensed-Bold.ttf
  src/renderer/fonts/RobotoCondensed-Light.ttf
  src/renderer/fonts/RobotoCondensed-Regular.ttf
  src/renderer/fonts/fallback/LICENSE.txt
  src/renderer/fonts/fallback/RobotoCondensed-Bold.otf
  src/renderer/fonts/fallback/RobotoCondensed-Light.otf
  src/renderer/fonts/fallback/RobotoCondensed-Regular.otf
  src/renderer/fonts/fallback/style.css
  src/renderer/fonts/folder bez nazwy/GT-Pressura-Bold.otf
  src/renderer/fonts/folder bez nazwy/GT-Pressura-Light.otf
  src/renderer/fonts/folder bez nazwy/GT-Pressura-Regular.otf
  src/renderer/fonts/fonts.css
Due: prettier --write, npm run lint --fix

Gitignore update
  .gitignore
  src/renderer/fonts/main/.gitkeep
Due: none

Implemented timeout
  packages/app/src/backend/adapters/device-response.interface.ts
  packages/app/src/backend/adapters/pure-phone/pure-phone.adapter.ts
  packages/app/src/backend/timeout.ts
  packages/app/src/renderer/modules/overview/system-update.hook.tsx
  packages/pure/src/device/device.types.ts
Due: prettier --write, npm run lint --fix

Rename noCriticalErrorResponseCodes to noCriticalErrorCodes
  packages/app/src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint --fix

Update .eslintrc
  .eslintrc
Due: none

Update package.json
  package.json
Due: prettier --write

update root package json
  package.json
Due: prettier --write

Added new READMEs connected to monorepo migration
  packages/app/README.md
  packages/design-system/README.md
  packages/pure/README.md
  quickstart.md
Due: prettier --write

moved .env.example to the app package
  .gitignore
  packages/app/.env.example
Due: none

update path
  .eslintrc
Due: none

update package json
  packages/app/package.json
  packages/pure/package.json
Due: prettier --write

add license to pure
  packages/pure/src/device-manager.ts
  packages/pure/src/device/base-device.ts
  packages/pure/src/device/device.test.ts
  packages/pure/src/device/device.ts
  packages/pure/src/device/device.types.ts
  packages/pure/src/device/index.ts
  packages/pure/src/endpoints/contact.types.ts
  packages/pure/src/endpoints/device-info.types.ts
  packages/pure/src/endpoints/index.ts
  packages/pure/src/formatter/formatter-factory.ts
  packages/pure/src/formatter/formatter.ts
  packages/pure/src/formatter/index.ts
  packages/pure/src/formatter/pure-v1.formatter.ts
  packages/pure/src/index.ts
  packages/pure/src/mock-serial-port.ts
  packages/pure/src/parser.ts
  packages/pure/src/usb-detector.ts
Due: prettier --write, npm run lint --fix

Added script for downloading fonts from github repo
  scripts/downloadFonts.js
Due: prettier --write

update packege json
  packages/app/package.json
  packages/pure/package.json
Due: prettier --write

Change the path to pure lib
  packages/app/package.json
Due: prettier --write

Temporarly change the SB config
  packages/app/.storybook/main.js
  packages/app/src/renderer/components/core/avatar/avatar.stories-x.tsx
Due: prettier --write, npm run lint --fix
