Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

Updated package-lock.json
  packages/app/package-lock.json
Due: prettier --write

Moved .eslintrc to root project
  .eslintrc
  package-lock.json
  package.json
  packages/app/.eslintrc
  packages/app/package-lock.json
  packages/app/package.json
  packages/app/tsconfig.json
  packages/pure/.eslintrc
  packages/pure/package.json
Due: prettier --write

PDA-658 gignore samconfig
  lambda-functions/cms/.gitignore
  lambda-functions/cms/samconfig.toml
Due: none

PDA-658 Use toLowerCase()
  lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

PDA-658 Remove nulls from test
  lambda-functions/cms/__tests__/unit/handlers/cms.test.js
Due: prettier --write

Add storybook:build command in root project
  package.json
Due: prettier --write

PDA-658 Remove try/catch and if
  lambda-functions/cms/__tests__/unit/handlers/cms.test.js
  lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

Add dist command in root project
  package.json
  packages/app/package-lock.json
  packages/app/package.json
  packages/pure/package-lock.json
Due: prettier --write

Add app:electron:rebuild-serialport command in root project
  package.json
  packages/app/package.json
  quickstart.md
Due: prettier --write

PDA-658 Remove buildspec
  lambda-functions/cms/buildspec.yml
Due: none

PDA-658 Create list of allowed methods
  lambda-functions/cms/buildspec.yml
  lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

PDA-658 Add deploy.sh
  lambda-functions/cms/bin/deploy.sh
Due: none

Moved shared as standalone package
  .gitignore
  package.json
  packages/app/src/shared.ts
  packages/shared/.eslintrc
  packages/shared/.npmrc
  packages/shared/build.sh
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/shared.ts
  packages/shared/tsconfig.json
Due: prettier --write, npm run lint --fix

Changed package names with prefix @mudita
  package.json
  packages/app/package.json
  packages/pure/package.json
Due: prettier --write

Reverted moving reference catalog
  reference/api.v1.json
Due: prettier --write

Updated quickstart
  quickstart.md
Due: prettier --write

Added empties readme's
  packages/app/README.md
  packages/shared/README.md
Due: prettier --write

downloading newest OS
  package.json
  src/main/functions/register-pure-os-update-listener.ts
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/requests/available-os-update.request.ts
Due: prettier --write, npm run lint --fix

moved electron to devDependencies
  package.json
Due: prettier --write

Fixed getting newest version
  src/backend/adapters/pure-phone/pure-phone-fake.adapter.ts
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/requests/available-os-update.request.ts
Due: prettier --write, npm run lint --fix

Improve modals tests
  src/renderer/components/core/modal/modal-test-ids.enum.ts
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint --fix

Success update test
  src/renderer/modules/overview/overview-test-ids.enum.ts
  src/renderer/modules/overview/overview.modals.tsx
  src/tests/phone-update.e2e.ts
Due: prettier --write, npm run lint --fix

Test update
  package-lock.json
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
Due: prettier --write

snapshot update
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
Due: none

Added Roboto Condensed
  src/renderer/fonts/RobotoCondensed-Bold.ttf
  src/renderer/fonts/RobotoCondensed-Light.ttf
  src/renderer/fonts/RobotoCondensed-Regular.ttf
  src/renderer/fonts/folder bez nazwy/GT-Pressura-Bold.otf
  src/renderer/fonts/folder bez nazwy/GT-Pressura-Light.otf
  src/renderer/fonts/folder bez nazwy/GT-Pressura-Regular.otf
  src/renderer/fonts/fonts.css
  src/renderer/locales/default/en-US.json
  src/renderer/styles/theming/theme.ts
Due: prettier --write, npm run lint --fix

PDA-657 Add selection manager
  src/renderer/components/rest/calendar/calendar-panel-test-ids.enum.ts
  src/renderer/components/rest/calendar/calendar-panel.component.tsx
  src/renderer/components/rest/calendar/calendar-panel.test.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/calendar/calendar-ui.component.tsx
Due: prettier --write, npm run lint --fix

PDA-694 Start function for converting calendar events to ical
  package-lock.json
  package.json
  src/calendar/helpers/convert-events/convert-events.test.ts
  src/calendar/helpers/convert-events/convert-events.ts
Due: prettier --write, npm run lint --fix

Updated packages
  package-lock.json
  package.json
  packages/app/package-lock.json
  packages/app/package.json
  packages/app/src/backend/adapters/phonebook/phonebook.adapter.ts
  packages/app/src/backend/adapters/pure-phone-battery-service/pure-phone-battery-service.adapter.ts
  packages/app/src/backend/adapters/pure-phone-network/pure-phone-network.adapter.ts
  packages/app/src/backend/adapters/pure-phone-storage/pure-phone-storage.adapter.ts
  packages/app/src/backend/adapters/pure-phone/pure-phone.adapter.ts
  packages/app/src/backend/bootstrap.ts
  packages/app/src/backend/device-service.ts
  packages/app/src/backend/mock-device-service.ts
  packages/app/src/backend/requests/battery/get-battery-info-request.test.ts
  packages/app/src/backend/requests/device-info/get-device-info-request.test.ts
  packages/app/src/backend/requests/network/get-network-info-request.test.ts
  packages/app/src/backend/requests/phonebook/delete-contacts.test.ts
  packages/app/src/backend/requests/phonebook/phonebook-adapters.ts
  packages/app/src/backend/requests/storage/get-storage-info-request.test.ts
  packages/app/src/main/main.ts
  packages/pure/package-lock.json
  packages/shared/package-lock.json
  packages/shared/package.json
Due: prettier --write, npm run lint --fix

removed src/shared.ts in app tsconfig
  packages/app/tsconfig.json
Due: prettier --write

[PDA 666] As a user, I want to see from which number I got/sent a message
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/components/rest/messages/topics-table.component.tsx
  src/renderer/models/calls/calls.interface.ts
  src/renderer/models/messages/messages.interface.ts
  src/renderer/models/messages/utils/messages.helpers.ts
  src/seeds/messages.ts
Due: prettier --write, npm run lint --fix

[PDA-587] Add a script automating adding two lines about OSS licenses to all files on GitHub
  .eslintrc
  package-lock.json
  package.json
  resources/license-header.ts
  src/main/store/default-help-items.ts
  src/main/store/help.ts
  src/main/store/settings.interface.ts
  src/main/store/settings.schema.ts
  src/main/store/settings.ts
  src/main/store/translations.ts
Due: prettier --write, npm run lint --fix

update snapshot
  src/renderer/modules/settings/__snapshots__/settings.test.tsx.snap
  src/renderer/modules/settings/tabs/backup/__snapshots__/backup-ui.test.tsx.snap
  src/renderer/modules/settings/tabs/notifications/__snapshots__/notifications.test.tsx.snap
Due: none

Refactored root commands
  package.json
Due: prettier --write

added tests regarding save button state
  src/tests/contacts.e2e.ts
Due: prettier --write, npm run lint --fix

PDA-658 Update template.yml
  lambda-functions/cms/template.yml
Due: none

simplify
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/models/calls/calls.interface.ts
  src/renderer/models/messages/messages.interface.ts
  src/renderer/models/messages/utils/messages.helpers.ts
  src/seeds/messages.ts
Due: prettier --write, npm run lint --fix

Revert "PDA-658 Update template.yml"
  lambda-functions/cms/template.yml
Due: none

Revert "Revert "PDA-658 Update template.yml""
  lambda-functions/cms/template.yml
Due: none

add test
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/components/rest/messages/message-details.test.tsx
Due: prettier --write, npm run lint --fix

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint --fix: any of: *.{ts,tsx}
