Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

update tests
  src/renderer/components/rest/phone/contact-details.test.tsx
Due: prettier --write, npm run lint --fix

PDA-449 Possible soluton without AutoSizer for call list
  src/renderer/components/rest/calls/call-row.component.tsx
  src/renderer/components/rest/calls/calls-table.component.tsx
Due: prettier --write, npm run lint --fix

update test
  src/renderer/components/rest/phone/contact-details.test.tsx
Due: prettier --write, npm run lint --fix

Lint fixes
  .eslintrc
  package-lock.json
  package.json
  pure/package-lock.json
  pure/package.json
  src/backend/adapters/phonebook/phonebook.adapter.ts
  src/backend/adapters/pure-phone-backups/pure-phone-backups.adapter.ts
  src/main/main.ts
  src/renderer/components/core/input-select/input-select.component.tsx
  src/renderer/components/core/input-select/input-select.stories.tsx
  src/renderer/components/core/input-text/input-text.elements.tsx
  src/renderer/components/core/modal/modal.service.tsx
  src/renderer/components/core/stacked-bar-chart/stacked-bar-chart.test.tsx
  src/renderer/components/core/table/table.stories.tsx
  src/renderer/components/rest/calendar/calendar.stories.tsx
  src/renderer/components/rest/messages/message-bubble.test.tsx
  src/renderer/components/rest/news/update-button/update-button.stories.tsx
  src/renderer/components/rest/phone/contact-import-modal.test.tsx
  src/renderer/components/rest/scroll-anchor-container/scroll-anchor-container.component.tsx
  src/renderer/models/basic-info/basic-info.ts
  src/renderer/models/calendar/calendar.ts
  src/renderer/models/calls/calls.test.ts
  src/renderer/models/calls/calls.ts
  src/renderer/models/external-providers/google/google.test.ts
  src/renderer/models/external-providers/google/google.ts
  src/renderer/models/messages/messages.ts
  src/renderer/models/messages/utils/caller-utils.ts.tsx
  src/renderer/models/mudita-news/mudita-news.ts
  src/renderer/models/notes/notes.test.ts
  src/renderer/models/phone/is-contact-matching-phone-number.ts
  src/renderer/models/phone/phone.ts
  src/renderer/models/settings/settings.ts
  src/renderer/models/templates/templates.test.ts
  src/renderer/models/templates/templates.ts
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/modules/phone/helpers/parseVcf/parse-vcf.ts
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/utils/form-validators.ts
Due: prettier --write, npm run lint --fix

lock update
  package-lock.json
Due: prettier --write

package update
  package.json
Due: prettier --write

package update
  package-lock.json
  package.json
Due: prettier --write

updated packages
  package-lock.json
  package.json
Due: prettier --write

PDA-636 Add list to message-list. Remove autosizer from calendar list
  src/renderer/components/rest/calendar/events-list.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/modules/calendar/calendar.test.tsx
Due: prettier --write, npm run lint --fix

update
  package-lock.json
  package.json
Due: prettier --write

Updated TS
  .eslintrc
  package-lock.json
  package.json
  src/backend/adapters/phonebook/phonebook.adapter.ts
  src/renderer/components/core/input-select/input-select.component.tsx
  src/renderer/components/core/input-select/input-select.stories.tsx
  src/renderer/components/core/input-text/input-text.elements.tsx
  src/renderer/components/core/modal/modal.service.tsx
  src/renderer/components/core/text-editor/text-editor.stories.tsx
  src/renderer/components/rest/scroll-anchor-container/scroll-anchor-container.component.tsx
  src/renderer/models/auth/auth.ts
  src/renderer/models/basic-info/basic-info.ts
  src/renderer/models/calendar/calendar.ts
  src/renderer/models/calls/calls.test.ts
  src/renderer/models/calls/calls.ts
  src/renderer/models/external-providers/google/google.test.ts
  src/renderer/models/external-providers/google/google.ts
  src/renderer/models/files-manager/files-manager.ts
  src/renderer/models/messages/messages.ts
  src/renderer/models/messages/utils/caller-utils.ts.tsx
  src/renderer/models/mudita-news/mudita-news.ts
  src/renderer/models/mudita-product-cards/mudita-product-cards.ts
  src/renderer/models/network-status/network-status.ts
  src/renderer/models/notes/notes.test.ts
  src/renderer/models/notes/notes.ts
  src/renderer/models/phone-update/phone-update.ts
  src/renderer/models/phone/is-contact-matching-phone-number.ts
  src/renderer/models/phone/phone.ts
  src/renderer/models/settings/settings.ts
  src/renderer/models/templates/templates.test.ts
  src/renderer/models/templates/templates.ts
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.container.tsx
  src/renderer/utils/noop.ts
Due: prettier --write, npm run lint --fix

Changed logic for initialization formatter version
  pure/src/device/base-device.ts
  pure/src/device/device.test.ts
  pure/src/device/device.ts
  pure/src/formatter/formatter-factory.ts
Due: prettier --write, npm run lint --fix

Add clean method to fix build process
  pure/package.json
Due: prettier --write

Update pure/src/formatter/formatter-factory.ts
  pure/src/formatter/formatter-factory.ts
Due: prettier --write, npm run lint --fix

Change to v1
  pure/src/formatter/formatter-factory.ts
  pure/src/formatter/index.ts
  pure/src/formatter/pure-v1.formatter.ts
Due: prettier --write, npm run lint --fix

Change when autoassigner is triggered
  .github/workflows/assign-reviewers.yml
Due: none

Made create method static in FormatterFactory
  pure/src/device/device.ts
  pure/src/formatter/formatter-factory.ts
Due: prettier --write, npm run lint --fix

Updated to v3
  package-lock.json
  package.json
  src/renderer/locales/default/en-US.json
Due: prettier --write

Fix circular dependency
  pure/src/device/device.ts
  pure/src/formatter/formatter.ts
  pure/src/formatter/pure-v1.formatter.ts
Due: prettier --write, npm run lint --fix

update webpack from v4 to v5
  package-lock.json
  package.json
  webpack/parts/rules.js
Due: prettier --write

PDA-449 Add react-virtualized to list in contacts
  src/renderer/components/rest/phone/contact-list.component.tsx
Due: prettier --write, npm run lint --fix

Revert "[PDA-635] Enhance list - call list"
  src/renderer/components/rest/calls/call-row.component.tsx
  src/renderer/components/rest/calls/calls-table.component.tsx
Due: prettier --write, npm run lint --fix

Revert "[PDA-636] Enhance list - message-list. "
  src/renderer/components/rest/calendar/events-list.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/modules/calendar/calendar.test.tsx
Due: prettier --write, npm run lint --fix

Example
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint --fix

Fixed LICENSE.md
  LICENSE.md
Due: prettier --write

PDA-447 Missing mudita-center names
  quickstart.md
  src/backend/endpoints/create-endpoint.ts
  src/renderer/components/rest/contact-modal/contact-modal.stories.tsx
  src/renderer/svg/mudita_logo.svg
Due: prettier --write, npm run lint --fix

Possible solution to list rendering badly
  src/renderer/components/core/table/table.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint --fix

Update react to 17.0.1v
  package-lock.json
  package.json
  src/renderer/components/core/input-select/input-select.test.tsx
  src/renderer/components/rest/calendar/calendar-panel.test.tsx
  src/renderer/components/rest/phone/contact-panel.test.tsx
Due: prettier --write, npm run lint --fix

Update contacts-ui.component.tsx
  src/contacts/contacts-ui.component.tsx
Due: prettier --write, npm run lint --fix

Add progressValue props to UpdatingProgressModal
  src/renderer/modules/overview/overview.modals.tsx
  src/renderer/modules/overview/overview.stories.tsx
  src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint --fix

PDA-631 Idea with button
  package.json
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
  src/tests/hooks.ts
Due: prettier --write, npm run lint --fix

Draft
  src/backend/backend.ts
  src/dev-mode/store/dev-mode.helpers.ts
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
  src/tests/calendar.e2e.ts
Due: prettier --write, npm run lint --fix

Update src/contacts/contacts.stories.tsx
  src/contacts/contacts.stories.tsx
Due: prettier --write, npm run lint --fix

Added contacts exporting
  src/common/requests/ipc-request.enum.ts
  src/contacts/backend/export-contacts.ts
  src/contacts/components/contact-panel/contact-panel.component.tsx
  src/contacts/contacts-ui.component.tsx
  src/contacts/helpers/convert-contacts/convert-contacts.test.ts
  src/contacts/helpers/convert-contacts/convert-contacts.ts
  src/contacts/helpers/export-contacts/export-contacts.ts
  src/main/main.ts
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/locales/default/en-US.json
  src/renderer/svg/upload-dark.svg
Due: prettier --write, npm run lint --fix
