Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

[PDA-680] hide dropdown
  packages/app/src/renderer/components/rest/messages/message-bubble.component.tsx
  packages/app/src/renderer/components/rest/messages/message-bubble.test.tsx
Due: prettier --write, npm run lint --fix

[PDA-680] remove avatars
  packages/app/src/renderer/components/rest/messages/message-bubble.component.tsx
  packages/app/src/renderer/components/rest/messages/message-bubble.test.tsx
Due: prettier --write, npm run lint --fix

PDA-658 Update client after changing from AWS to Netlify
  packages/app/src/api/contentful/client.test.ts
  packages/app/src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Remove lambda functions
  packages/lambda-functions/cms/.eslintrc
  packages/lambda-functions/cms/.gitignore
  packages/lambda-functions/cms/README.md
  packages/lambda-functions/cms/__tests__/unit/handlers/cms.test.js
  packages/lambda-functions/cms/bin/.envexample
  packages/lambda-functions/cms/bin/deploy.sh
  packages/lambda-functions/cms/package-lock.json
  packages/lambda-functions/cms/package.json
  packages/lambda-functions/cms/src/handlers/cms.js
  packages/lambda-functions/cms/template.yml
Due: prettier --write

change --ci to --no-ci (poc)
  package.json
Due: prettier --write

Add temporary change to check CI in GH
  packages/app/src/contacts/components/contact-details/contact-details.component.tsx
Due: prettier --write, npm run lint --fix

Revert "Add temporary change to check CI in GH"
  packages/app/src/contacts/components/contact-details/contact-details.component.tsx
Due: prettier --write, npm run lint --fix

Fixed OS downloading on windows
  packages/app/src/main/functions/create-download-listener-registrar.ts
  packages/app/src/main/functions/register-pure-os-download-listener.ts
  packages/app/src/main/store/settings.schema.ts
  packages/app/src/main/store/settings.ts
  packages/app/src/renderer/interfaces/file-download.interface.ts
Due: prettier --write, npm run lint --fix

Fixed detecting phone connection
  packages/pure/src/usb-detector.ts
Due: prettier --write, npm run lint --fix

fix auth-server.test.ts
  .eslintrc
  packages/app/src/main/auth-server.test.ts
Due: prettier --write, npm run lint --fix

PDA-658 Adapt code after change to serverless functions
  packages/app/src/api/contentful/client-errors.enum.ts
  packages/app/src/api/contentful/client.interface.ts
  packages/app/src/api/contentful/client.test.ts
  packages/app/src/api/contentful/client.ts
  packages/app/src/api/contentful/contentful-resource.enum.ts
  packages/app/src/api/contentful/create-client.ts
  packages/app/src/main/functions/download-help-handler.ts
  packages/app/src/main/functions/register-news-listener.ts
Due: prettier --write, npm run lint --fix

PDA-658 Change env name
  .env.example
  packages/app/src/api/contentful/client.test.ts
  packages/app/src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

Npm script fix
  package.json
Due: prettier --write

Fix tsc check
  packages/app/src/backend/adapters/device-response.interface.ts
  packages/app/src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint --fix

Remove headers
  packages/app/src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Change name of folder
  packages/app/src/api/contentful/contentful-resource.enum.ts
  packages/app/src/api/contentful/create-client.ts
  packages/app/src/api/contentful/index.ts
  packages/app/src/api/mudita-center-server/client-errors.enum.ts
  packages/app/src/api/mudita-center-server/client.interface.ts
  packages/app/src/api/mudita-center-server/client.test.ts
  packages/app/src/api/mudita-center-server/client.ts
  packages/app/src/api/mudita-center-server/create-client.ts
  packages/app/src/api/mudita-center-server/index.ts
  packages/app/src/api/mudita-center-server/mudita-center-server-routes.ts
  packages/app/src/main/functions/download-help-handler.ts
  packages/app/src/main/functions/register-news-listener.ts
Due: prettier --write, npm run lint --fix

Added support for custom fonts and removed GT Pressura from repo
  .gitignore
  packages/app/.env.example
  packages/app/package.json
  packages/app/scripts/downloadFonts.js
  packages/app/src/renderer/app.tsx
  packages/app/src/renderer/fonts/GT-Pressura-Bold.otf
  packages/app/src/renderer/fonts/GT-Pressura-Light.otf
  packages/app/src/renderer/fonts/GT-Pressura-Regular.otf
  packages/app/src/renderer/fonts/README.md
  packages/app/src/renderer/fonts/fallback/LICENSE.txt
  packages/app/src/renderer/fonts/fallback/RobotoCondensed-Bold.otf
  packages/app/src/renderer/fonts/fallback/RobotoCondensed-Light.otf
  packages/app/src/renderer/fonts/fallback/RobotoCondensed-Regular.otf
  packages/app/src/renderer/fonts/fallback/style.css
  packages/app/src/renderer/fonts/fonts.css
  packages/app/src/renderer/fonts/main/.gitkeep
  packages/app/src/renderer/styles/theming/theme.ts
Due: prettier --write, npm run lint --fix

fixed app's scripts
  packages/app/package.json
Due: prettier --write

bring back avatars
  packages/app/src/renderer/components/rest/messages/message-bubble.component.tsx
  packages/app/src/renderer/components/rest/messages/message-bubble.test.tsx
Due: prettier --write, npm run lint --fix

PDA-658 Change name of client
  packages/app/src/api/mudita-center-server/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Remove client-error
  packages/app/src/api/mudita-center-server/client-errors.enum.ts
  packages/app/src/api/mudita-center-server/client.test.ts
  packages/app/src/api/mudita-center-server/client.ts
Due: prettier --write, npm run lint --fix

Update packages/app/src/api/mudita-center-server/client.test.ts
  packages/app/src/api/mudita-center-server/client.test.ts
Due: prettier --write, npm run lint --fix

PDA-658 Routes dont need to be exposed
  packages/app/src/api/mudita-center-server/index.ts
Due: prettier --write, npm run lint --fix

PDA-658 Update interface. Pass limit as query
  packages/app/src/api/mudita-center-server/client.interface.ts
  packages/app/src/api/mudita-center-server/client.ts
  packages/app/src/main/functions/register-news-listener.ts
Due: prettier --write, npm run lint --fix

PDA-658 Split url
  packages/app/src/api/mudita-center-server/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Update test
  packages/app/src/api/mudita-center-server/client.test.ts
Due: prettier --write, npm run lint --fix

PDA-658 Remove constructor
  packages/app/src/api/mudita-center-server/client.ts
Due: prettier --write, npm run lint --fix

remove script from packages and move it to root
  package.json
  packages/app/package.json
  packages/pure/package.json
Due: prettier --write

PDA-658 Update path
  packages/app/src/api/mudita-center-server/client.test.ts
Due: prettier --write, npm run lint --fix

Updated quickstart guide
  quickstart.md
Due: prettier --write

added check for existing font files
  packages/app/scripts/downloadFonts.js
Due: prettier --write

hide elements only on productions
  packages/app/src/renderer/components/rest/messages/message-bubble.component.tsx
  packages/app/src/renderer/components/rest/messages/message-bubble.test.tsx
  packages/app/src/renderer/components/rest/messages/message-details.component.tsx
  packages/app/src/renderer/components/rest/messages/message-details.test.tsx
Due: prettier --write, npm run lint --fix

remove empty line
  packages/app/src/renderer/components/rest/messages/message-bubble.test.tsx
  packages/app/src/renderer/components/rest/messages/message-details.component.tsx
Due: prettier --write, npm run lint --fix

PDA-658 Make queries work
  packages/app/src/api/mudita-center-server/client.interface.ts
  packages/app/src/api/mudita-center-server/client.ts
  packages/app/src/main/functions/download-help-handler.ts
Due: prettier --write, npm run lint --fix

added description for new envs
  packages/app/.env.example
Due: none

add license to file
  packages/app/src/renderer/components/rest/calendar/calendar-panel-test-ids.enum.ts
Due: prettier --write, npm run lint --fix

Removed __mocks__ catalog in messages
  packages/app/src/messages/__mocks__/attach-contact-list-data.ts
  packages/app/src/messages/__mocks__/caller-data.ts
  packages/app/src/messages/components/message-details.test.tsx
  packages/app/src/messages/helpers/create-fake-caller.ts
  packages/app/src/messages/messages.stories.tsx
  packages/app/src/messages/messages.test.tsx
  packages/app/src/messages/store/topics.helpers.test.ts
Due: prettier --write, npm run lint --fix

Removed __mocks__ catalog in templates
  packages/app/src/seeds/templates.ts
  packages/app/src/templates/__mocks__/template-modal-data.ts
  packages/app/src/templates/components/template-modal.component.tsx
  packages/app/src/templates/components/templates-list.component.tsx
  packages/app/src/templates/components/templates-panel.component.tsx
  packages/app/src/templates/store/templates.helpers.test.ts
  packages/app/src/templates/store/templates.helpers.ts
  packages/app/src/templates/store/templates.interface.ts
  packages/app/src/templates/store/templates.test.ts
  packages/app/src/templates/store/templates.ts
  packages/app/src/templates/templates-ui.component.tsx
  packages/app/src/templates/templates.component.tsx
  packages/app/src/templates/templates.stories.tsx
  packages/app/src/templates/templates.test.tsx
Due: prettier --write, npm run lint --fix

Change Promise<undefined> to Promise<void>
  packages/app/src/backend/timeout.ts
Due: prettier --write, npm run lint --fix

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint --fix: any of: *.{ts,tsx}
