Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

updated example envs
  .env.example
Due: none

Improved update listener mapping
  src/main/functions/register-pure-os-update-listener.ts
Due: prettier --write, npm run lint --fix

PDA-658 WIP
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

Changed devDependencies <-> dependencies
  package-lock.json
  package.json
  pure/package-lock.json
  pure/package.json
Due: prettier --write

Refactored `file` to `filePath`
  pure/src/device/device.ts
Due: prettier --write, npm run lint --fix

Refactored `file` to `filePath`
  src/backend/adapters/pure-phone/pure-phone-adapter.class.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
Due: prettier --write, npm run lint --fix

pure install scripts update
  package.json
Due: prettier --write

4.4.0
  package-lock.json
  package.json
Due: prettier --write

refactor(typings): adjust typings and exports
  src/renderer/components/core/input-checkbox/input-checkbox.component.tsx
  src/renderer/components/core/network-status-checker/network-status-checker.component.tsx
  src/renderer/components/core/stacked-bar-chart/stacked-bar-chart.component.tsx
  src/renderer/components/core/table/table.component.tsx
  src/renderer/components/core/text/text.component.tsx
  src/renderer/components/rest/header/tabs.component.tsx
  src/renderer/components/rest/menu/menu.component.tsx
  src/renderer/components/rest/news/update-button/update-button.component.tsx
  src/renderer/components/rest/settings/settings-toggler.component.tsx
  src/renderer/models/basic-info/basic-info.typings.ts
  src/renderer/modules/filesManager/components/memory-chart.component.tsx
  src/renderer/modules/messages/messages.component.tsx
  src/renderer/modules/news/news-ui.component.tsx
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/modules/settings/tabs/audio-conversion/audio-conversion.component.tsx
  src/renderer/modules/settings/tabs/backup/backup.component.tsx
  src/renderer/modules/settings/tabs/notifications/notifications.component.tsx
  src/renderer/modules/tethering/tethering.component.tsx
  src/renderer/modules/tools/tabs/notes.component.tsx
Due: prettier --write, npm run lint --fix

feat(shared): add tsconfig and exports
  .eslintrc
  .gitignore
  package.json
  src/shared.ts
  tsconfig.shared.json
Due: prettier --write, npm run lint --fix

feat(shared): sourt out utils
  .gitignore
  package.json
  shared/build.sh
  shared/package.json
  shared/tsconfig.dist.json
  tsconfig.build-shared.json
Due: prettier --write

feat(shared): add config for github packages
  shared/.npmrc
  shared/package.json
Due: prettier --write

feat(shared): new version and publish
  shared/package.json
Due: prettier --write

fix(shared): resolve aliases issue
  package-lock.json
  package.json
  shared/build.sh
  shared/package.json
  shared/tsconfig.dist.json
  tsconfig.build-shared.json
Due: prettier --write

PDA-658 Create lambda function
  lambda-functions/cms/.aws-sam/build.toml
  lambda-functions/cms/.aws-sam/build/cms/README.md
  lambda-functions/cms/.aws-sam/build/cms/__tests__/integration/test-sns-logger.js
  lambda-functions/cms/.aws-sam/build/cms/__tests__/unit/handlers/sns-payload-logger.test.js
  lambda-functions/cms/.aws-sam/build/cms/buildspec.yml
  lambda-functions/cms/.aws-sam/build/cms/events/event-sns.json
  lambda-functions/cms/.aws-sam/build/cms/package.json
  lambda-functions/cms/.aws-sam/build/cms/samconfig.toml
  lambda-functions/cms/.aws-sam/build/cms/src/handlers/cms.js
  lambda-functions/cms/.aws-sam/build/cms/template.yml
  lambda-functions/cms/.aws-sam/build/template.yaml
  lambda-functions/cms/.gitignore
  lambda-functions/cms/README.md
  lambda-functions/cms/__tests__/integration/test-sns-logger.js
  lambda-functions/cms/__tests__/unit/handlers/sns-payload-logger.test.js
  lambda-functions/cms/buildspec.yml
  lambda-functions/cms/events/event-sns.json
  lambda-functions/cms/package-lock.json
  lambda-functions/cms/package.json
  lambda-functions/cms/samconfig.toml
  lambda-functions/cms/src/handlers/cms.js
  lambda-functions/cms/template.yml
Due: prettier --write

changed fetch to axios and added error handling when api limits are out
  src/main/functions/register-pure-os-update-listener.ts
Due: prettier --write, npm run lint --fix

PDA-658 WIP fetch
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

Lerna init (moved reference catalog as package)
  lerna.json
  package.json
  packages/reference/api.v1.json
Due: prettier --write

Add run lint command in root project (--no-verify)
  package.json
  packages/pure/.eslintrc
  packages/pure/package-lock.json
  packages/pure/package.json
Due: prettier --write

Add test:coverage command in root project
  package.json
  packages/pure/jest.config.js
  packages/pure/jest.coverage.json
  packages/pure/package.json
  packages/pure/src/device-manager.test.ts
Due: prettier --write, npm run lint --fix

Add prerelease command in root project
  package.json
Due: prettier --write

Add pure commands in root project
  package.json
Due: prettier --write

PDA-658 Start test for lambda
  lambda-functions/cms/.aws-sam/build/cms/template.yml
  lambda-functions/cms/.aws-sam/build/template.yaml
  lambda-functions/cms/__tests__/unit/handlers/sns-payload-logger.test.js
  lambda-functions/cms/package-lock.json
  lambda-functions/cms/template.yml
Due: prettier --write

PDA-658 Fix ts errors. Add lambdas build to gignore
  lambda-functions/cms/.gitignore
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Remove build
  lambda-functions/cms/.aws-sam/build.toml
  lambda-functions/cms/.aws-sam/build/cms/README.md
  lambda-functions/cms/.aws-sam/build/cms/__tests__/integration/test-sns-logger.js
  lambda-functions/cms/.aws-sam/build/cms/__tests__/unit/handlers/sns-payload-logger.test.js
  lambda-functions/cms/.aws-sam/build/cms/buildspec.yml
  lambda-functions/cms/.aws-sam/build/cms/events/event-sns.json
  lambda-functions/cms/.aws-sam/build/cms/package.json
  lambda-functions/cms/.aws-sam/build/cms/samconfig.toml
  lambda-functions/cms/.aws-sam/build/cms/src/handlers/cms.js
  lambda-functions/cms/.aws-sam/build/cms/template.yml
  lambda-functions/cms/.aws-sam/build/template.yaml
Due: prettier --write

PDA-658 Update env
  .env.example
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Add more tests
  lambda-functions/cms/__tests__/unit/handlers/cms.test.js
Due: prettier --write

PDA-658 Update env.example
  .env.example
Due: none

PDA-658 Update README.md
  lambda-functions/cms/README.md
Due: prettier --write

PDA-658 Remove unncessary arg
  lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

PDA-658 Remove integration tests folder
  lambda-functions/cms/__tests__/integration/test-sns-logger.js
Due: prettier --write

PDA-658 Update comment, add eslintrc
  lambda-functions/cms/.eslintrc
  lambda-functions/cms/src/handlers/cms.js
Due: prettier --write

PDA-658 Improve typings
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

Added lint:typecheck command in root project
  package.json
  packages/pure/package.json
Due: prettier --write

fix test by broken vCard file
  packages/app/src/contacts/helpers/parse-vcf/multiple-contacts.vcf
  packages/app/src/contacts/helpers/parse-vcf/single-contact.vcf
Due: none

PDA-658 Add client tests
  src/api/contentful/client.test.ts
  src/api/contentful/client.ts
  src/main/functions/download-help-handler.ts
Due: prettier --write, npm run lint --fix

PDA-658 Change back target
  tsconfig.json
Due: prettier --write

PDA-658 Use enum for error messeges
  lambda-functions/cms/package.json
  src/api/contentful/client-errors.enum.ts
  src/api/contentful/client.test.ts
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

PDA-658 Type annotate data
  src/api/contentful/client.ts
Due: prettier --write, npm run lint --fix

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint --fix: any of: *.{ts,tsx}
