Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

Updated store-related files
  src/contacts/contacts.component.tsx
  src/contacts/store/contacts.ts
  src/renderer/models/messages/utils/messages.helpers.ts
  src/renderer/modules/messages/messages.container.tsx
  src/renderer/modules/phone/tabs/calls-container.component.tsx
Due: prettier --write, npm run lint --fix

Imports update
  src/contacts/backend/export-contacts.ts
  src/contacts/helpers/convert-contacts/convert-contacts.ts
  src/contacts/helpers/export-contacts/export-contacts.ts
Due: prettier --write, npm run lint --fix

PDA-631 Improve tests to match changes in setup
  package.json
  src/renderer/components/rest/onboarding/onboarding-welcome-test-ids.enum.ts
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
  src/renderer/components/rest/sync-modals/sync-contacts-modal.component.tsx
  src/tests/calendar.e2e.ts
  src/tests/contacts.e2e.ts
  src/tests/files-manager.e2e.ts
  src/tests/help.e2e.ts
  src/tests/hooks.ts
  src/tests/meditation.e2e.ts
  src/tests/messages.e2e.ts
  src/tests/music.e2e.ts
  src/tests/notes.e2e.ts
  src/tests/overview.e2e.ts
  src/tests/phone.e2e.ts
  src/tests/templates.e2e.ts
  src/tests/tethering.e2e.ts
Due: prettier --write, npm run lint --fix

Improved filename creation
  src/contacts/backend/export-contacts.ts
  src/renderer/locales/default/en-US.json
Due: prettier --write, npm run lint --fix

Removed custom save button label
  src/contacts/backend/export-contacts.ts
Due: prettier --write, npm run lint --fix

Added UID field for exported contacts
  src/contacts/helpers/convert-contacts/convert-contacts.test.ts
  src/contacts/helpers/convert-contacts/convert-contacts.ts
Due: prettier --write, npm run lint --fix

Fix refactor phone model and change seeds
  src/backend/adapters/phonebook/phonebook-fake.adapter.ts
  src/contacts/components/contact-edit/contact-edit.test.tsx
  src/contacts/components/contact-import/contact-import.stories.tsx
  src/contacts/components/speed-dial-modal/speed-dial-modal.container.tsx
  src/contacts/contacts.component.tsx
  src/contacts/contacts.stories.tsx
  src/contacts/store/contacts.test.ts
  src/contacts/store/contacts.ts
  src/renderer/models/messages/utils/messages.helpers.test.ts
  src/seeds/contacts.ts
Due: prettier --write, npm run lint --fix

PDA-631 Additioanl app settings regardin timeouts
  src/tests/hooks.ts
Due: prettier --write, npm run lint --fix

Unselecting rows when export is done
  src/contacts/backend/export-contacts.ts
  src/contacts/components/contact-panel/contact-panel.component.tsx
Due: prettier --write, npm run lint --fix

PDA-631 Change place of simulate button
  jest-e2e.config.js
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
Due: prettier --write, npm run lint --fix

PDA-631 Create external function for clickign simulate gbutton
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
  src/tests/calendar.e2e.ts
  src/tests/contacts.e2e.ts
  src/tests/files-manager.e2e.ts
  src/tests/hooks.ts
  src/tests/meditation.e2e.ts
  src/tests/messages.e2e.ts
  src/tests/notes.e2e.ts
  src/tests/overview.e2e.ts
  src/tests/phone.e2e.ts
  src/tests/templates.e2e.ts
Due: prettier --write, npm run lint --fix

Fixed phone number exporting
  src/contacts/helpers/convert-contacts/convert-contacts.test.ts
  src/contacts/helpers/convert-contacts/convert-contacts.ts
Due: prettier --write, npm run lint --fix

PDA-630 Uninstall appnroll eslint, install mudita eslint
  .eslintrc
  package-lock.json
  package.json
  pure/.eslintrc
Due: prettier --write

PDA-630 Add mudita eslint
  .stylelintrc.js
  package-lock.json
  package.json
Due: prettier --write

PDA-630 Update to newer versions. Update lint disable rule
  package-lock.json
  package.json
  src/renderer/styles/global-style.component.tsx
Due: prettier --write, npm run lint --fix

PDA-631 Change buttons label
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
Due: prettier --write, npm run lint --fix

PDA-630 Remove commented code
  .stylelintrc.js
Due: prettier --write

PDA-630 Update modal/table tests and stories
  src/renderer/components/core/modal/modal.test.tsx
  src/renderer/components/core/table/table.stories.tsx
  src/renderer/components/core/table/table.test.tsx
  src/renderer/components/rest/news/update-button/update-button.stories.tsx
Due: prettier --write, npm run lint --fix

PDA-630 Update bar chart / messages test
  src/renderer/components/core/stacked-bar-chart/stacked-bar-chart.test.tsx
  src/renderer/modules/messages/messages.test.tsx
Due: prettier --write, npm run lint --fix

PDA-630 Rest autofixes
  src/contacts/components/contact-import/contact-import-modal.test.tsx
  src/contacts/contacts-ui.component.tsx
  src/contacts/helpers/parse-vcf/parse-vcf.ts
  src/renderer/components/rest/messages/message-bubble.test.tsx
Due: prettier --write, npm run lint --fix

Added explicit license mention adn mention in README that we're hiring.
  LICENSE.md
  README.md
Due: prettier --write

Developed use-dynamic-progress-value hook
  src/renderer/utils/hooks/use-dynamic-progress-value.hook.test.tsx
  src/renderer/utils/hooks/use-dynamic-progress-value.hook.tsx
Due: prettier --write, npm run lint --fix

PDA-641 Start parsing .ics file
  package-lock.json
  package.json
  src/calendar/helpers/parse-vcf/calendar.ics
  src/calendar/helpers/parse-vcf/parse-ics.test.ts
  src/calendar/helpers/parse-vcf/parse-ics.ts
Due: prettier --write, npm run lint --fix

PDA-641 Start input file and new button. Start second calendar
  src/calendar/helpers/parse-vcf/calendar-2.ics
  src/calendar/helpers/parse-vcf/parse-ics.test.ts
  src/calendar/helpers/parse-vcf/parse-ics.ts
  src/renderer/components/rest/calendar/select-vendor-modal.component.tsx
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint --fix

Updated UpdatingProgressModal progressValue property
  src/renderer/modules/overview/overview.modals.tsx
  src/renderer/modules/overview/overview.stories.tsx
Due: prettier --write, npm run lint --fix

Refactor deprecated deviceDisconnected to deviceConnected
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
  src/renderer/components/rest/menu/menu.component.tsx
  src/renderer/components/rest/menu/menu.container.tsx
  src/renderer/modules/tethering/tethering-ui.component.tsx
  src/renderer/modules/tethering/tethering.component.tsx
  src/renderer/modules/tethering/tethering.container.tsx
  src/renderer/modules/tethering/tetheting-ui.test.tsx
Due: prettier --write, npm run lint --fix

Added updatingDevice state to basic-info.ts
  src/renderer/models/basic-info/basic-info.test.ts
  src/renderer/models/basic-info/basic-info.ts
  src/renderer/models/basic-info/basic-info.typings.ts
  src/renderer/modules/overview/overview-ui.component.tsx
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/modules/overview/overview.container.tsx
Due: prettier --write, npm run lint --fix

Extended update os process by the progress
  src/backend/adapters/pure-phone/pure-phone-adapter.class.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/device-service.ts
  src/backend/requests/update-os/update-os.request.test.ts
  src/backend/requests/update-os/update-os.request.ts
  src/common/emitters/ipc-emitter.enum.ts
  src/renderer/listeners/register-os-update-progress.listener.ts
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/requests/update-os.request.ts
Due: prettier --write, npm run lint --fix

Replace Number + toFixed to simplify version
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
Due: prettier --write, npm run lint --fix

Removed not used basicInfo seed
  src/seeds/basic-info.ts
Due: prettier --write, npm run lint --fix

Added --no-dll flag to storybook:serve
  package.json
Due: prettier --write

PDA-641 Succesfully dispatch events to view
  src/calendar/helpers/parse-ics/calendar.ics
  src/calendar/helpers/parse-ics/parse-ics.test.ts
  src/calendar/helpers/parse-ics/parse-ics.ts
  src/calendar/helpers/parse-vcf/calendar.ics
  src/calendar/helpers/parse-vcf/parse-ics.test.ts
  src/calendar/helpers/parse-vcf/parse-ics.ts
  src/renderer/modules/calendar/calendar.component.tsx
  src/renderer/modules/calendar/calendar.interface.ts
Due: prettier --write, npm run lint --fix

PDA-641 Fix ts errors
  src/renderer/components/rest/calendar/calendar.stories.tsx
  src/renderer/components/rest/calendar/select-vendor-modal.test.tsx
  src/renderer/modules/calendar/calendar.test.tsx
Due: prettier --write, npm run lint --fix

PDA-641 Remove old folder
  src/calendar/helpers/parse-vcf/calendar-2.ics
Due: none

PDA-641 Clean up - clg, new calendar.ics file
  src/calendar/helpers/parse-ics/calendar-2.ics
  src/calendar/helpers/parse-ics/parse-ics.ts
Due: prettier --write, npm run lint --fix

PDA-641 Add test for modal
  src/renderer/components/rest/calendar/select-vendor-modal-test-ids.enum.ts
  src/renderer/components/rest/calendar/select-vendor-modal.component.tsx
  src/renderer/components/rest/calendar/select-vendor-modal.test.tsx
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint --fix

Change option to options
  src/renderer/utils/hooks/use-dynamic-progress-value.hook.tsx
Due: prettier --write, npm run lint --fix

Removed TODO
  src/renderer/modules/overview/overview.container.tsx
Due: prettier --write, npm run lint --fix

Configure secrets manager
  .secretsrc
  quickstart.md
Due: prettier --write

Add enter to .sectesrc
  .secretsrc
Due: none
