Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": ["npm run lint --fix", "git add"],
}

Update release.yml
  .github/workflows/release.yml
Due: none

PDA-644 Change layout
  src/renderer/components/rest/overview/card.elements.tsx
  src/renderer/modules/overview/overview-ui.component.tsx
Due: prettier --write, npm run lint --fix

PDA-644 Update snapshot
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
Due: none

PDA-644 Typo in comment
  src/renderer/components/rest/overview/card.elements.tsx
Due: prettier --write, npm run lint --fix

PDA-646 Change table layout
  src/contacts/components/contact-list/contact-list.component.tsx
Due: prettier --write, npm run lint --fix

PDA-646 Hide buttons in dropdown
  src/contacts/components/contact-list/contact-list.component.tsx
  src/contacts/components/contact-list/contact-list.styled.tsx
Due: prettier --write, npm run lint --fix

PDA-644 Add comment
  src/renderer/modules/overview/overview-ui.component.tsx
Due: prettier --write, npm run lint --fix

PDA-646 WIP
  src/contacts/components/contact-details/contact-details.component.tsx
  src/contacts/components/contact-list/contact-list.styled.tsx
Due: prettier --write, npm run lint --fix

PDA-643 Hide component only on prod
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/components/rest/menu/menu-group.styled.tsx
Due: prettier --write, npm run lint --fix

PDA-66 Fix layout in Overview
  src/renderer/components/rest/overview/card.elements.tsx
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
  src/renderer/components/rest/overview/phone/phone.styled.tsx
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
  src/renderer/modules/overview/overview-ui.component.tsx
Due: prettier --write, npm run lint --fix

PDA-646 Hide based on prod env
  src/contacts/components/contact-list/contact-list.component.tsx
  src/contacts/components/contact-list/contact-list.styled.tsx
  src/renderer/constants/menu-elements.ts
Due: prettier --write, npm run lint --fix

Update src/renderer/modules/overview/overview-ui.component.tsx
  src/renderer/modules/overview/overview-ui.component.tsx
Due: prettier --write, npm run lint --fix

PDA-646 Add icon
  src/contacts/components/contact-list/contact-list.styled.tsx
  src/contacts/components/contact-panel/contact-panel.component.tsx
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/svg/manage.svg
Due: prettier --write, npm run lint --fix

PDA-646 Add prod icons
  src/contacts/components/contact-details/contact-details.component.tsx
Due: prettier --write, npm run lint --fix

PDA-646 Add comments
  src/contacts/components/contact-details/contact-details.component.tsx
  src/renderer/locales/default/en-US.json
Due: prettier --write, npm run lint --fix

PDA-645 Hide conversations / templates tabs
  src/renderer/constants/tab-elements.ts
Due: prettier --write, npm run lint --fix

PDA-645 Change panel layout
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages-panel.styled.tsx
Due: prettier --write, npm run lint --fix

PDA-645 Hide dropdown button
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint --fix

PDA-637 Update test packages
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update types / wip any
  package-lock.json
  package.json
  src/renderer/locales/default/en-US.json
  src/renderer/utils/hooks/use-temporary-storage/use-temporary-storage.test.ts
Due: prettier --write, npm run lint --fix

PDA-637 Update husky/faker
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update axios, core-js, cross-env
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update serialport
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update sb addons
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update lint
  package-lock.json
  package.json
Due: prettier --write

PDA-637 Update node
  .nvmrc
  package.json
Due: prettier --write

PDA-637 Change node v in gh actions files
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: none

PDA-637 Change node v in validate.yml
  .github/workflows/validate.yml
Due: none

PDA-637 Try 13.12.0
  .github/workflows/release.yml
  .github/workflows/validate.yml
  package.json
Due: prettier --write

PDA-637 Change nvmrc
  .nvmrc
Due: none

Setup test for update e2e
  src/renderer/components/rest/overview/system/system-test-ids.ts
  src/renderer/components/rest/overview/system/system.component.tsx
  src/renderer/locales/default/en-US.json
  src/tests/overview.e2e.ts
  src/tests/phone-update.e2e.ts
Due: prettier --write, npm run lint --fix

WIP test
  src/tests/phone-update.e2e.ts
Due: prettier --write, npm run lint --fix

Changed server for OS releases
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/requests/update-os/update-os.request.ts
  src/main/functions/register-os-update-already-downloaded-checker.ts
  src/main/functions/register-pure-os-download-listener.ts
  src/main/functions/register-pure-os-update-listener.ts
  src/renderer/locales/default/en-US.json
  src/renderer/models/phone-update/phone-update.interface.ts
  src/renderer/models/phone-update/phone-update.ts
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/modules/overview/overview.modals.tsx
  src/renderer/modules/overview/system-update.hook.tsx
  src/renderer/requests/available-os-update.request.ts
  src/renderer/requests/download-os-update.request.ts
  src/renderer/requests/os-update-already-downloaded.request.ts
  src/renderer/requests/update-os.request.ts
Due: prettier --write, npm run lint --fix

added more contacts tests
  src/tests/contacts.e2e.ts
Due: prettier --write, npm run lint --fix

Update contacts.e2e.ts
  src/tests/contacts.e2e.ts
Due: prettier --write, npm run lint --fix
